.slot{
    min-height: 15vh;
    cursor: pointer;
}

.filled:hover{
    cursor: auto;
    background-color: inherit !important;
    border-radius: 0% !important;
}

.slot:hover{
    background-color: antiquewhite;
    border-radius: 5%;
}

.slot-win{
    background-color: #D1E7DD !important; 
    border-color: #198754 !important;
}

canvas{
    cursor: progress;
}

.velha{
    border-color: #b02a37 !important;
    background-color: #f8d7da !important;
}

#l1c1{
    border-right: solid 2px black;
}
#l1c2{
    border-right: solid 2px black;
    border-left: solid 2px black;
}
#l1c3{
    border-left: solid 2px black;
}
#l2c1{
    border-top: solid 2px black;;
    border-right: solid 2px black;;
    border-bottom: solid 2px black;;
}
#l2c2{
    border: solid 2px black;
}
#l2c3{
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    border-left: solid 2px black;
}
#l3c1{
    border-top: solid 2px black;
    border-right: solid 2px black;
}
#l3c2{
    border-left: solid 2px black;
    border-top: solid 2px black;
    border-right: solid 2px black;

}
#l3c3{
    border-left: solid 2px black;
    border-top: solid 2px black;
}

.alerta-fixo{
    position: fixed;
    z-index: 1000;
    top: 30%;
    left: 10%;
    min-width: 20%;
    text-align: center;
}

@media (max-width: 768px) {
    .jogovelha{
        width: auto !important;
        margin-left: 15px;
        margin-right:15px;
    }

    .alerta-fixo{
        top: 80%;
        left: 15%;
        min-width: 70%;
    }
}